<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Storage</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <div>
    </div>
    <div>
      <a href="{{ url_for('users_index') }}">Users</a>
      <a href="{{ url_for('products_index') }}">Products</a>
      <a href="{{ url_for('homes_index') }}">Homes</a>
      <a href="{{ url_for('storages_index') }}">Storages</a>

      <span style="float: right;">
        user:{{ current_user.name }} <a href="{{ url_for('auth_logout') }}">logout</a>
      </span>
    </div>
    
    {% else %}
    <div>
      <a href="{{ url_for('auth_login') }}">Login</a>
    </div>
    {% endif %}
    
    {% block body %}
    {% endblock %}
  </body>
</html>
