<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Storage</title>
    <!-- begin bootstrap stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- end of bootstrap stuff -->
    <script>
      editUserUrl = (user_id) => {
        return "{{ url_for('users_edit', user_id='USER_ID') }}".replace(/USER_ID/, user_id)
      }
      editProductUrl = (product_id) => {
        return "{{ url_for('products_edit', product_id='PRODUCT_ID') }}".replace(/PRODUCT_ID/, product_id)
      }
      editHomeUsersUrl = (home_id) => {
        return "{{ url_for('homeusers_edit', home_id='HOME_ID') }}".replace(/HOME_ID/, home_id)
      }
      showReportUrl = (report_id, home_id, param1) => {
        return "{{ url_for('report_show', report_id='REPORT_ID', home_id='HOME_ID', param1='PARAM1') }}"
          .replace(/REPORT_ID/, report_id)
          .replace(/HOME_ID/, home_id)
          .replace(/PARAM1/, param1)
      }
      deleteStorageUrl = (storage_id) => {
        return "{{ url_for('storages_delete', storage_id='STORAGE_ID') }}".replace(/STORAGE_ID/, storage_id)
      }
      deleteHomeUrl = (home_id) => {
        return "{{ url_for('homes_delete', home_id='HOME_ID') }}".replace(/HOME_ID/, home_id)
      }
      getCSRFToken = () => {
        return "{{ csrf_token() }}"
      }
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>

  <body>
    <div class="container">
      {% if current_user.is_authenticated %}
      <div>
      </div>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="{{ url_for('index') }}">Home Storage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if "ADMIN" in current_user.roles() %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users_index') }} ">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('homes_index') }}">Homes</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('products_index') }}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('myhomes_index') }}">My Homes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('storages_index') }}">Storages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('reports_index') }}">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('docs_index') }}">Docs</a>
            </li>
          </ul>
          <div class="form-inline mt-2 mt-md-0">
            <span class="mr-1">user: <a href="{{ url_for('users_profile_edit') }}">{{ current_user.name }}</a></span>
            <button type="button" class="btn btn-secondary btn-sm" onclick="location.assign('{{ url_for('auth_logout') }}')">logout</button>
          </div>
	</div>
      </nav>
      {% elif request.path != url_for('auth_login') %}
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" onclick="location.assign('{{ url_for('auth_login') }}')">Login</button>
        </div>
        <div class="col"></div>
      </div>
      <p></p>
      {% endif %}
      
      <main role="main" class="container">
        {% block body %}
        {% endblock %}
      </main>
    </div>
    <!-- begin bootstrap stuff -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- end of bootstrap stuff -->
  </body>
</html>
