{% extends "layout.html" %}

{% block body %}
<form method="POST">
  {{ form.csrf_token }}
  <h3>Edit user</h3>
  <div class="container">
    <div class="row">
      <div class="col-2">User id:</div>
      <div class="col-3">{{ form.user_id }}{{ user.user_id }}</div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-2">{{ form.login.label }}</div>
      <div class="col-3">{{ form.login }}</div>
      <div class="col">
        <ul>
          {% for error in form.login.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-2 align-top">{{ form.password.label }}</div>
      <div class="col-3">{{ form.password }}<small id="passwordHelp" class="form-text text-muted">Leave password field empty to not change it.</small></div>
      <div class="col">
        <ul>
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-2 align-top">{{ form.force_password_change.label }}</div>
      <div class="col align-left">{{ form.force_password_change }}
        <small class="form-text text-muted">Forces the user to change password before the user can continue using HomeStorage system.</small></div>
    </div>
    <div class="row">
      <div class="col-2">{{ form.superuser.label }}</div>
      <div class="col-3">{{ form.superuser }}</div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-2">{{ form.name.label }}</div>
      <div class="col-3">{{ form.name }}</div>
      <div class="col">
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-2">{{ form.email.label }}</div>
      <div class="col-3">{{ form.email }}</div>
      <div class="col">
        <ul>
          {% for error in form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" onclick="location.assign('{{ url_for('users_index') }}')">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
