{% extends "layout.html" %}

{% block body %}
<h3>Users</h3>
<div>
  <button type="button" class="btn btn-primary btn-sm" onclick="location.assign('{{ url_for('users_form') }}')">Add new user</button>
</div>
<div>
  &nbsp;
</div>
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Login</th>
    <th>Email</th>
    <th>Superuser</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.user_id   }}</td>
    <td>{{ user.name      }}</td>
    <td>{{ user.login     }}</td>
    <td>{{ user.email     }}</td>
    <td>{{ user.superuser }}</td>
    <td>
      <button type="button" class="btn btn-primary btn-sm" onclick="onEditUserClicked({{ user.user_id }})"  >Edit</button>
      <button type="button" class="btn btn-danger btn-sm"  onclick="onDeleteUserClicked({{ user.user_id }})">Delete</button>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
