{% extends "layout.html" %}

{% block body %}
<h3>Homes</h3>
<div>
  <button type="button" class="btn btn-primary btn-sm" onclick="location.assign('{{ url_for('homes_form') }}')">Add a new home</button>
</div>
<div>
  &nbsp;
</div>
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Users</th>
  </tr>
  {% for home in homes %}
  <tr>
    <td>{{ home.home_id      }}</td>
    <td>{{ home.name         }}</td>
    <td><button type="button" class="btn btn-primary btn-sm" onclick="onEditHomeUsersClicked({{ home.home_id }})">{{ home.users|length }}</button></td>
    <td>
      <button type="button" class="btn btn-primary btn-sm" onclick="location.assign('{{ url_for('homes_edit', home_id=home.home_id) }}')">Edit</button>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
