{% extends "layout.html" %}

{% block body %}
<h3>Homes</h3>
<div>
  <button type="button" class="btn btn-primary btn-sm" onclick="location.assign('{{ url_for('homes_form') }}')">Add a new home</button>
</div>
<div>
  &nbsp;
</div>
{% if homes|length > 0 %}
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Users</th>
  </tr>
  {% for home in homes %}
  <tr>
    <td>{{ home.home_id      }}</td>
    <td>{{ home.name         }}</td>
    <td><button type="button" class="btn btn-primary btn-sm" onclick="onEditHomeUsersClicked({{ home.home_id }})">{{ home.users|length }}</button></td>
    <td><button type="button" class="btn btn-primary btn-sm" onclick="location.assign('{{ url_for('homes_edit', home_id=home.home_id) }}')">Edit</button></td>
    <td><button type="button" class="btn btn-danger btn-sm" onclick="location.assign('{{ url_for('homes_delete', home_id=home.home_id) }}')">Delete home</button></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="alert alert-danger" role="alert">
  You have not set any homes yet.
  <a class="alert-link" href="{{ url_for('homes_form') }}">Click here</a> to create a new home.
</div>
{% endif %}
{% endblock %}
