{% extends "layout.html" %}

{% block body %}
<h3>Products for: {{ home.name }}</h3>
<form method="POST">
  <table>
    <tr>
      <th>Product</th>
      <th colspan="2">Desired quantities</th>
    </tr>
    <tr>
      <th></th>
      <th>Minimum</th>
      <th>Maximum</th>
    </tr>
    {% for product in form.products %}
    <tr>
      <td>{{ product.product_id }}{{ product.product_name }}{{ product.product_name.data }}</td>
      <td>{{ product.mindesired }}</td>
      <td>{{ product.maxdesired }}</td>
      <!-- <td><button>Reset</button></td>-->
      <td>
        <ul>
          {% for error in product.product_name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        <ul>
          {% for error in product.mindesired.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        <ul>
          {% for error in product.maxdesired.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div>
    <button type="button" class="btn btn-secondary" onclick="location.assign('{{ url_for('myhomes_index') }}')">Cancel</button>
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
{% endblock %}
