{% extends "layout.html" %}

{% block body %}
<h3>Products for: {{ home.name }}</h3>
<form method="POST">
  <table>
    <tr>
      <th>Product</th>
      <th>Desired minimum quantity</th>
      <th>Desired maximum quantity</th>
    </tr>
    {% for product in form.products %}
    <tr>
      <td>{{ product.product_id }}{{ product.product_name }}{{ product.product_name.data }}</td>
      <td>{{ product.mindesired }}</td>
      <td>{{ product.maxdesired }}</td>
      <td>
        <ul class="mb-0">
          {% for error in product.mindesired.errors %}
          <li>Minimum: {{ error }}</li>
          {% endfor %}
          {% for error in product.maxdesired.errors %}
          <li>Maximum: {{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div>
    <button type="button" class="btn btn-secondary" onclick="location.assign('{{ url_for('myhomes_index') }}')">Cancel</button>
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
{% endblock %}
