{% extends "layout.html" %}

{% block body %}
<h3>My Homes</h3>
{% if homes|length > 0 %}
<table>
  <tr>
    <th>Name</th>
    <th>Users</th>
  </tr>
  {% for home in homes %}
  <tr>
    <td><a href="{{ url_for('myhomes_view', home_id=home.home_id) }}">{{ home.name }}</a></td>
    <td>{{ home.users|length }}</td>
    <td>
      <button type="button" class="btn btn-primary btn-sm" onclick="location.assign('{{ url_for('myhomes_edit', home_id=home.home_id) }}')">Edit</button>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div>You don't have any homes set. Ask your administrator to place you in one or more homes.</div>
{% endif %}
{% endblock %}
