{% extends "layout.html" %}

{% block body %}
<h3>My Homes</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Users</th>
  </tr>
  {% for home in homes %}
  <tr>
    <td>{{ home.name         }}</td>
    <td>{{ home.users|length }}</td>
    <td>
      <button type="button" class="btn btn-primary btn-sm" onclick="location.assign('{{ url_for('myhomes_edit', home_id=home.home_id) }}')">Edit</button>
      <button type="button" class="btn btn-success btn-sm" onclick="location.assign('{{ url_for('stock_edit', home_id=home.home_id) }}')">Stock</button>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
