{% extends "layout.html" %}

{% block body %}
<form method="POST">
  <h3>Manage stock for: {{ home.name }}</h3>
  <input type="hidden" id="home_id" value="{{ home.home_id }}" />
  <table>
    <tr>
      <th>Product</th>
      <th colspan="7">Quantity</th>
    </tr>
    <tr>
      <th></th>
      <th>Min</th>
      <th>Current</th>
      <th>Max</th>
      <th colspan="3">Change</th>
      <th>New quantity</th>
    </tr>
    {% for product in products %}
    <tr>
      <td>{{ product.product_name }}</td>
      <td>{{ product.desired_min_quantity }}</td>
      <td>
        {{ product.current_quantity }}
        <input type="hidden" id="curquant_{{ product.product_id }}" value="{{ product.current_quantity }}" />
      </td>
      <td>{{ product.desired_max_quantity }}</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" onclick="onStockAdjustClicked({{ product.product_id }}, -1)">-</button>
      </td>
      <td>
        <span class="label label-default">
          <input type="hidden" name="productid[]" value="{{ product.product_id }}" />
          <input type="number" min="-{{ product.current_quantity }}" max="9999" style="width: 5em;" name="change[]" id="change_{{ product.product_id }}" value="0" onchange="onStockAdjustClicked({{ product.product_id }}, 0)" />
        </span>
      </td>
      <td>
        <button type="button" class="btn btn-success btn-sm" onclick="onStockAdjustClicked({{ product.product_id }}, 1)">+</button>
      </td>
      <td><span class="label label-default" id="newquant_{{ product.product_id }}">0</span></td>
    </tr>
    {% endfor %}
  </table>
  <div>
    Storage: 
    <select id="storage" name="storage_id">
      {% for storage in storages %}
      <option value="{{ storage.storage_id }}">{{ storage.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <button type="button" class="btn btn-secondary" onclick="location.assign('{{ url_for('myhomes_index') }}')">Cancel</button>
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
{% endblock %}
