{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <div class="container">
    <div class="row">
      <div class="col">{{ form.login.label }}</div>
      <div class="col-10">{{ form.login       }}</div>
    </div>
    <div class="row">
      <div class="col">{{ form.password.label }}</div>
      <div class="col-10">{{ form.password       }}</div>
    </div>
    <div class="row">
      <div class="col">
        <input type="submit" value="Login" />
      </div>
    </div>
  </div>
</form>
{% endblock %}
